body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

#btn {
  margin: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.disableToSee {
  display: none;
}

.container {
  height: 100vh;
  text-align: center;
  background: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub {
  text-align: center;
}

.square-container {
  border-radius: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  background: ivory;
}

.square {
  border-radius: 10px;
  margin: 8px;
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  cursor: pointer;
}

.cycle {
  color: palevioletred;
}

.cross {
  color: lightblue;
}
